@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/circular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/sf-pro-display.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/sf-pro-display-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}
